@import"./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */

  :root {
    --black: #171718 ;
    --black-border: #26292d ;
    --white: #fff ;
    --purple: #5c62ec ;

    
    --dark-bg:var(--black) ;
    --dark-border:var(--black-border);
    --header-text:var(--white);
    --accent:var(--purple)
  }

html, body {
  

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--dark-bg);

  

}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000 */

/* .dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */


.container {
  margin: 0 auto;
  padding: 0 15px;
  

}


/* nav */

.nav{
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  /* border-bottom: 1px solid #26292d; */
  background-color: var(--dark-bg);
  color: var(--dark-bg);
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.logo{
  color: #fff;
  font-size: 28;
  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nav-list__link {
  color: var(--header-text);
  transition: opasity 0.2s ease-in;
}
.nav-list__link:hover {
  opacity:0.8;
}

.nav-list__link--active{
  position: relative;
}

.nav-list__link--active::before {
content: "";

position: absolute;
left: 0;
top: 100%;

display: block;
height: 2px;
width: 100%;
background-color: var(--accent)  ;
}


.acquaintance__logo {

width: 506px;
height: 476px;
left: 42px;
top: 166px;

}
/* Title */

.acquaintance {
background-color: var(--dark-bg);
color: var(--header-text);
display: flex ;
min-height: 695px;

justify-content: space-evenly;
align-items: center ;
text-align: center;
flex-wrap: wrap;
gap: 30px;


/* background: url(/jpg/header_background.png); */
}

/* .about-me {
  margin: 0 auto;
  padding: 0 15px;
} */

.acquaintance__container{
  max-width: 660px;
  padding: 0 15px;
  /* display: block; */
 /* justify-content: ; */
 /* margin-right: 100px; */
}
 
.acquaintance__container--title {

  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0,5px;

}

.acquaintance__container--title strong {
  font-size: 60px;
  font-weight: 700;
}

.acquaintance__container--title em {
font-style: normal;
color: var(--accent);
}


/* button */


.acquaintance__container--btn{
  display: inline-block;
  height: 70 depx;
  padding: 30.9px 27.2px 30.51px;
  border-radius: 10px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 36px;
  font-weight: medium ;
  transition: opacity 0.5 ease-in;

}

.acquaintance__container--btn:hover {
  opacity: 0.8;
}

.acquaintance__container--btn:active {
  position: relative;
  top: 3px;
}

/* .header_background {
  
  width: 2031px;
  background-size: auto;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header_background-img {
  width:100%;
 
} */
 
/* Main */

.portfolio {
margin-top: 40px;
margin-left: 115px;
margin-right: 115px;
background-color: var(--dark-bg);
}
.portfolio__title {
  margin-bottom: 59.36px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  color:  var(--white);
  letter-spacing: -0.5px;
  line-height: 130%;
  text-align: center ;
}


/* Portfilio  */


.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  

}
.portfolio__container--item {
  max-width: 370px;
  /* background-color: var(--white); */
  border: 2px dotted var(--white);
  border-radius: 20px;
}

.portfolio__container--name {
  color: var(--white);
  font-size: 24 ;
  font-weight: bold;
  text-align: center ;
  letter-spacing: -0.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.portfolio__container--jpg {
  border-radius: 20px 20px 0px 0px;
}

/* footer */
.none {
  display: none !important;
}

.footer {
  background-color: var(--dark-bg);
  padding: 60px 0 50px;
  color: var(--white);
}

.container__items {
  display: flex;
  column-gap: 20px;
}

.container__items--icon {
  height: 40px;
  width: 40px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.copyright {
  font-size: 16px;
}

.price-box {
  padding: 55px 0 22px;
  background-color: var(--dark-bg);
  color: var(--white); 
}

.title-price {
  padding-bottom: 40px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;  
}

.all-price {
display: flex;
flex-wrap: wrap;
gap: 100px;
justify-content: center;
}

.gender-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;  
}
.men-pricelist{
font-size: 16px;
font-weight: normal ;
text-align: left;
color: var(--white);
}

.women-pricelist{
 
  font-size: 16px;
  font-weight: normal ;
  text-align: left;
  color: var(--white);
}
.container-info {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5;
  line-height: 130%;
  text-align: center;
  line-height: 50px;
}
/* info__text.{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5;
  line-height: 130%;
  
} */

.my-job{
  border: 2px dotted var(--white);
  border-radius: 20px;
}
